@media only screen and (min-width: 32rem) {
    ul {
        flex-direction: row;
    }

    #hero{
        background-image: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/202000/202681-Petit-Jean-State-Park.jpg");
        height: 405px;
        /* background-position: unset; */
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .main-grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    

    .events, .weather, .spotlight1, .spotlight2, .spotlight3 {
        border: 1px solid black;
        width: 100%;
        box-shadow: 5px 5px 10px #6f7364;
    }

    p {
        padding-left: 10px;
    }

    h3 {
        padding-left: 10px;
        text-decoration: underline;
    }

    .spotlight1 {
        grid-column: 1fr;
    }

}