@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Heebo:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", Arial, sans-serif;
}

img {
    width: 200px;
    height: auto;
    padding-right: 20px;
  }

header{
    background-color: #98C1D9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #E0FBFC;
    max-width: 400px;
    margin: 0 auto;
}

nav{
    background-color: #3D5A80;
    margin: 0 auto;
    max-width: 400px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #E0FBFC;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    background-color: #293241;
}

h2 {
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}

.card{
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
}

.week{
    justify-content: left;
}

section ul {
    justify-content: left;
}

.card ul{
    list-style-type: none;
}

footer{
    text-align: center;
    background-color: #98C1D9;
    color: #E0FBFC;
    margin: 0 auto;
    max-width: 400px;
}

.cardTitle{
    background-color: #3D5A80;
    height: auto;
    color: #E0FBFC;
    display: block;
    max-width: 400px;
}